<div id='header'>
	<div id="headertxt01">Web Engineering</div>
	<div id="toplinks">
		<%= link_to "Home", root_path %>
		<%= link_to "Clubs", '/clubs' %>
		<%= link_to "Events", '#' %>
        <% if club_logged_in? %>
			<% club= Club.find(session[:club_id]) %>
			<%= link_to "Log out[#{club.login}]", logout_path, :method => :delete %>
		<% elsif member_logged_in?%>
			<% member= Member.find(session[:member_id]) %>
			<%= link_to "Log out[#{member.last_name}]", logout_path, :method => :delete %>
		<% else %>
			<%= link_to "log in", login_path %>
      	<% end %>
	</div>
	
	
</div>