<h1>Listing members</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Club</th>
    <th>Sex</th>
    <th>Email</th>
    <th>City</th>
    <th>Address</th>
    <th>Postale code</th>
    <th>Birthday</th>
    <th>Chip</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.club_id %></td>
    <td><%= member.sex %></td>
    <td><%= member.email %></td>
    <td><%= member.city %></td>
    <td><%= member.address %></td>
    <td><%= member.postale_code %></td>
    <td><%= member.birthday %></td>
    <td><%= member.chip_id %></td>
    <td><%= member.password %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
