<table class="profile" summary="Profile information">
	
  	<tr>
    	<td class="main">
      		<h1><%= gravatar_for_member @member %><%= @member.last_name %></h1>
    	</td>
    	<td class="sidebar round">
      		<strong>Name</strong> <%= @member.last_name %>&nbsp;<%= @member.first_name %><br />
      		<strong>URL</strong>  <%= link_to member_path(@member), @member %><br />
			<strong><%= link_to "Settings", edit_member_path(@member) %></strong>
		</td>
	</tr>
	
</table>