<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>Club:</b>
  <%= @member.club_id %>
</p>

<p>
  <b>Sex:</b>
  <%= @member.sex %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>Address:</b>
  <%= @member.address %>
</p>

<p>
  <b>Postale code:</b>
  <%= @member.postale_code %>
</p>

<p>
  <b>Birthday:</b>
  <%= @member.birthday %>
</p>

<p>
  <b>Chip:</b>
  <%= @member.chip_id %>
</p>

<p>
  <b>Password:</b>
  <%= @member.password %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
